@tailwind base;
@tailwind components;
@tailwind utilities;

.darklogo {
  filter: brightness(0);
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#eef4bf 10%, #ffec40);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

.privacy-page h1,
.privacy-page h2,
.privacy-page h3 {
  font-size: revert;
  font-weight: revert;
  padding-block: 0.5em;
}

.privacy-page ul {
  list-style-type: disc;
  margin: unset;
  padding: unset;
}
